#apptitle, form{
	text-align: center;
	margin: 10px;
}

input{
	border-color: grey;
	border-radius: 3px;
	border-width: 1px;
	margin: 10px;
	padding: 5px;
}

.odd{
	background-color: #f2f9ff;
}

.even{
	background-color: #eceff3;
}

.post {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 5px;
}

#mainform{
	background: #999;
}

.maininput{
	margin: 10px;
}